{% include 'questionic/layout.html' %}
{% block body %}

<div class="container">
    <div class="row g-0">
      <div class="col-3"></div>
      <div class="col-6">
        <br>
        <h1>{{ username }}</h1>

        <p>following : {{ following }}</p>
        <p>follower : {{ follower }}</p>
        <p>((page details in process...))</p>

        <a href="{% url 'users:follow' userf=username %}"><button class="button">Follow</button></a>
      </div>
      <div class="col-3"></div>
    </div>
  </div>



 
{% endblock %}